<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karteek</title>

</head>
<body>
<h1>Karteek</h1>
<h2>1001553522</h2>
<img src = "https://kartiksstorage.blob.core.windows.net/assignment1final/Rick_Sanchez.png" height="200" width="200">
<h2>Select the CSV file and upload it into the database using the submit button</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="data_file" />
    <input type="submit" />
</form>
<h2>Table Created and Data Inserted. Time Taken = {{ timesdiff }} </h2>


</body>
</html>